body {
  margin: 0;
}

.container {
  width: calc(100vw - 32px);
  padding: 16px 16px 0 16px;
}

.container > * {
  margin-bottom: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  border: 1px solid #DCE0E4;
  border-radius: 8px;
  padding: 16px;
  width: calc(100% / 3 - 32px / 3);
  background-color: #E5E7EA;
  color: #202528;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 24px;
}

.stop-button {
  color: #FF3643;
  font-weight: 800;
  width: 100%;
}

#indicator {
  width: 100%;
  height: calc(99vh - 224px);
  border: 1px solid #DCE0E4;
  border-radius: 16px;
}

#indicator.not-running {
  background-color: #E5E7EA;
  transition: background-color 0.5s linear;
}

#indicator.go {
  background-color: #00C648;
  transition: background-color 0.33s linear;
}

#indicator.warning {
  background-color: #FFAF39;
  transition: background-color 0.33s linear;
}

#indicator.stop {
  background-color: #FF3643;
  transition: background-color 0.33s linear;
}

@keyframes flash {
  from {
    background-color: #FF3643;
  }
  to {
    background-color: #9d0b15;
  }
}

#indicator.no-really {
  animation: flash 1s infinite alternate;
}
